
<footer class="bottom-0">

    <div class="first">
        <span>Sask</span>
    </div>

    <div class="linn">

    </div>
    <div class="second">
        <span routerLink="/privacy">Política de privacidad</span>
        <span routerLink="/contact">Contáctanos</span>
        <span routerLink="/about">Acerca de nosotros</span>
    </div>

    <div class="three">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-instagram"></i>
        
    </div>

    <span class="rights"><i class="bi bi-c-circle"> Sask 2023</i></span>

</footer>
