
<button class="btn  position-fixed top-0 end-0 p-3 cart bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-calendar-heart-fill imag"></i></button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Mascotas Seleccionadas :)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  
     
      

        <ul class="list-group list-group-flush ">
          <li class="list-group-item" *ngFor="let pet of pets">
            {{ pet.name }}
            <span class="badge bg-dark rounded-pill">{{ pet.years }}</span>
          </li>
        </ul>
     

        <button class="btn btn-dark ms-3 mt-5" ><i class="bi bi-calendar-heart">  Agenda su cita</i></button>
 
</div>

