@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@300&display=swap');

header{
    height: 70vh;
    background: radial-gradient(circle, #937292 0%, #000000 100%);
}

.ini{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    align-items: center;
    gap: 10px;
    padding-bottom: 25%;
}

.linksref{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    gap: 15%;
}

.linksref span{
    color: rgb(191, 191, 191);
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    height: fit-content;
    
}

.linksref span:hover{
    text-decoration:overline;
}

.ini img{
    width: 9%;
    height: fit-content;
    
}

.title{
    font-size:110px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.line{
    font-size:60px;
    color: white;
}

.log{
    width: 20%;
}


/* ESTILOS HOJA MASCOTAS  */

.masc{
    margin-top: 40px;
}

.tit{
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;

}