<header>
  <div class="linksref">
    <span routerLink="/about">Conócenos</span>
    <span routerLink="/contact">Contáctanos</span>
    <span routerLink="/pqrs">PQRS</span>
  </div>

  <div class="ini">
    <img [src]="'assets/SaskWhite.png'" alt="Imagen" />
    <span class="line">|</span><span class="title"> Sask</span>
  </div>
</header>

<app-top></app-top>
<main>
  <div class="container cont">
    <h1>Política de Privacidad</h1>

    <div class="row row-cols-1 row-cols-md-1 g-4 p-5 gap-5">
      Fecha de última actualización: 20/10/2023
      <p>
        En Sask, respetamos y valoramos tu privacidad. Esta Política de
        Privacidad explica cómo recopilamos, utilizamos, compartimos y
        protegemos la información personal que obtengamos a través de nuestra
        plataforma en línea. Al acceder y utilizar nuestros servicios, aceptas
        los términos y prácticas descritas en esta política.
      </p>
      <p>
        <b>Información que Recopilamos</b><br />

        Recopilamos información personal que tú proporcionas voluntariamente,
        como: Información de perfil, incluyendo nombre, dirección de correo
        electrónico y contraseña. Información sobre tus mascotas, como nombre,
        raza, edad, historial médico, alergias y condiciones de salud. Datos
        sobre el uso de la plataforma, como registros de actividad,
        interacciones y preferencias.
      </p>
      <p>
        <b>Uso de la Información</b><br />

        Utilizamos la información recopilada para los siguientes fines:
      <br><br>
      • Gestionar y mantener tu cuenta y perfiles de mascotas.<br />
      • Proporcionar recordatorios y alertas relacionadas con el cuidado de tus
        mascotas.<br />
      • Mejorar nuestros servicios, incluyendo características y
       funcionalidades.<br />
      • Compartir información con veterinarios o cuidadores de mascotas
       autorizados por ti.<br />
       • Enviar comunicaciones relacionadas con el servicio y actualizaciones.
      </p>
      <p>
        <b>Compartir Información</b><br />

        No compartimos información personal con terceros no afiliados, excepto
        en las siguientes circunstancias:<br />

        • Con tu consentimiento expreso para compartir información con cuidadores
        de mascotas o veterinarios autorizados.<br />
        • Cuando sea necesario cumplir con las leyes y regulaciones aplicables.<br />
        • Para proteger nuestros derechos, privacidad, seguridad o propiedad, o la
        de nuestros usuarios.<br />
      </p>
      <p>
        <b>Seguridad de Datos</b><br />

        Implementamos medidas de seguridad para proteger tu información
        personal. Sin embargo, ten en cuenta que ningún sistema de seguridad en
        línea es completamente infalible.
      </p>
      <p>
        <b>Cambios en la Política de Privacidad</b><br />

        Podemos actualizar esta Política de Privacidad ocasionalmente. Te
        notificaremos de cualquier cambio significativo a través de la
        plataforma o por correo electrónico.
      </p>
      <p>
        <b>Derechos del Usuario</b><br />

        Tienes el derecho de acceder, rectificar o eliminar tus datos personales
        en cualquier momento. Para ejercer estos derechos o si tienes alguna
        pregunta o inquietud relacionada con la privacidad, contáctanos a
        [dirección de correo electrónico de contacto].
      </p>
      <p>
        Al utilizar nuestros servicios, aceptas y estás de acuerdo con esta
        Política de Privacidad. Si no estás de acuerdo con los términos
        descritos aquí, te recomendamos no utilizar nuestra plataforma.
        <br />
        Gracias por confiar en Sask para gestionar el bienestar de tus mascotas.
        Estamos comprometidos en proteger tu privacidad y proporcionar un
        servicio seguro y útil.
      </p>
    </div>
  </div>
</main>

<app-bottom></app-bottom>
